.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: baseline;
    background-color: rgb(87, 91, 92);
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.9;
    width: auto;
    padding: 3%;
    padding-bottom: 1%;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-items: baseline;
  justify-content: center;
  gap: 20%;
  width: auto;
  flex-wrap: wrap;
  background-color: rgb(68, 70, 70);
  margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
}

.logo-cont p {
  padding: 0.75em;
  font-size: 15px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #818181;
  transition: 0.3s;
  text-decoration: none;
}

.logo-cont {
  display: flex;
  align-items: center;
  justify-items: baseline;
  padding: 2%;
}

.logo-cont:hover{
  opacity: 0.6;
}

.logo{
  width: 3em;
  height: 3em;
}

.cit {
  text-align: center;
  font-style: italic;
}