  h2{
    margin-bottom: 3%;
    font-size: 60px;
  }

  p{
    width: 80%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 91, 92);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

  }

  .photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  .img {
    width: 18em;
    height: 16em;
    object-fit: cover;
    background-color: #818181;
  }

  .video {
    width: 60%;
    max-width: 415px;
    min-width: 100px;
    object-fit: cover;
    background: #818181;
  }

  @media screen and (max-width: 780px) {
    h2 {font-size: 20px;}
    .img {width: 12em; height: 10em;}
  }